.work .container{
    text-align: center;
}

.work .container h1{
    padding: 10px;
}

.work .container .cards{
    display: flex;
    margin: 10px;
    justify-content: space-between;
}

.work .container .card img{
    width: 100%;
    height: 350px;
}

.work .container .card{
    border: 1px solid gray;
    margin: 0 3px;
    width: 32%;
}
